body {
    background-color: black;
}

p {
    color: white;
    font-family: 'Montserrat';
}

h1 {
    text-align: center;
    font-family: 'Montserrat', arial, sans-serif;
    color: white;
    font-size: 50px;
    margin-left: 40px;
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
}

h2 {
        font-family: 'Montserrat', arial, sans-serif;
        color: white;
        font-size: 20px;
        text-shadow:
        0 0 30px rgba(202,228,225,0.34),
        0 0 12px rgba(30,132,242,0.52),
        0 0 21px rgba(30,132,242,0.92);
        text-decoration: underline;   
}

a {
    background-color: cadetblue;
    text-decoration: none;
    color: white
}

a:link {
    color: white
}

#syst_sol {
    list-style-image: url(images/syst_sol.ico);
}

#iss_ress {
    list-style-image: url(images/saticon.ico);
}

#osm {
    list-style-image: url(images/favicon.ico);
}

#lib {
    list-style-image: url(images/libicon.ico);
}