h1 {
    text-align: center;
    font-family: 'Montserrat', arial, sans-serif;
    color: white;
    font-size: 70px;
    margin-left: 40px;
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
}

a {
    text-decoration: none;
    color: white;
}

a:link {
    color: white
}

#menu li {
    font-family: 'Montserrat', arial, sans-serif;
    font-size: 230%;
    color: white;
    list-style-type: none;
    padding: 0.5em;
    align-items: baseline;
    text-shadow:
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92)
}

#menu ol {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#s-a a::after {
    color: white;
    content: '|';
}

#s-a {
    transition: 0.4s;
}

#s-a:hover {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
}

#a-p {
    transition: 0.4s;
}

#a-p:hover {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
}

#logo-sat {
    position: relative;
    width: 75px;
    height: 75px;
    padding: 0.5em;
    margin-bottom: -45px;
}

#point_interrogation {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 0.5em;
    margin-bottom: -28px;
}

p {
    color: white;
    font-size: xx-large;
    font-family: 'Montserrat', arial, sans-serif;
}

#left-block {
    margin-top: -35%;
}

#right-block {
    margin-top: 5%;
}

#informations {
    margin-top: -17%;
    margin-left: 12%;
}

#info-iss {
    margin-top: -18%;
    margin-left: 78%;
}

#position-iss {
    margin-top: 2%;
    margin-left: 78%;
}

body {
    background-color: black;
    zoom: 50%;

}

#space {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 100%; */
    z-index: -1;
    opacity: 0.2;
}

#scene {
    position: relative;
    width: 700px;
    height: 700px;
    margin: 0 auto;
    margin-top: 150px;
    margin-left: 1100px;
}

#boutons {
    position: relative;
    margin-top: 2%;
    zoom: 120%;
}

#boutons button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    transition: 0.2s
}

#boutons button:hover {
    zoom: 140%;
}

#boutons button:active {
    transform: translateY(5px)
}

#sun {
    position: absolute;
    top: 57%;
    left: 56%;
    margin-top: -80px;
    margin-left: -80px;
}

#sun {
    -webkit-animation: pulse 4s alternate infinite linear;
    -moz-animation: pulse 4s alternate infinite linear;
    -ms-animation: pulse 4s alternate infinite linear;
    -o-animation: pulse 4s alternate infinite linear;
    animation: pulse 4s alternate infinite linear;
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(0.8);
    }
    100%  {
        transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0% {
        transform: scale(0.8);
    }
    100%  {
        transform: scale(1);
    }
}
@-o-keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    100%  {
        transform: scale(1);
    }
}
@keyframes pulse {
    0% {
        transform: scale(0.8);
    }
    100%  {
        transform: scale(1);
    }
}

#earth-orbit {
    position: absolute;
    top: 60%;
    left: 60%;

    width: 400px;
    height: 400px;

    margin-top: -230px;
    margin-left: -230px;

    border: 2px solid #939393;
}

#earth {
    position: absolute;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
}

/* Arrondie l'orbite */
#earth-orbit {
    border: 2px solid #939393;
    -mozborder-radius: 50%;
    -webkitborder-radius: 50%;
    border-radius: 50%;
}

#moon-orbit {
    width: 110px;
    height: 130px;

    position: absolute;
    top: 50%;
    margin-top: -60px;
    margin-left: -55px;
}

#moon {
    margin-left: 75px;
    margin-top: -35px;
}

#venus-orbit {
    position: absolute;
    top: 70%;
    left: 69%;

    width: 270px;
    height: 270px;

    margin-top: -230px;
    margin-left: -230px;

    border: 2px solid #939393;
}

#venus {
    position: absolute;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
}

#venus-orbit {
    border: 2px solid #939393;
    -mozborder-radius: 50%;
    -webkitborder-radius: 50%;
    border-radius: 50%;
}

#mercury-orbit {
    position: absolute;
    top: 62%; /* placement de l'orbite */
    left: 61%;

    width: 200px; /* taille cercle */
    height: 200px;

    margin-top: -140px;
    margin-left: -140px;
    border: 2px solid #939393;
}

#mercury {
    position: absolute;
    margin-left: -15px;
    top: 50%;
    margin-top: -15px;
}

#mercury-orbit {
    border: 2px solid #939393;
    -mozborder-radius: 50%;
    -webkitborder-radius: 50%;
    border-radius: 50%;
}

#mars-orbit {
    position: absolute;
    top: 36%; /* placement de l'orbite */
    left: 37%;

    width: 550px; /* taille cercle */
    height: 550px;

    margin-top: -140px;
    margin-left: -140px;
    border: 2px solid #939393;
}

#mars {
    position: absolute;
    margin-left: -26px;
    top: 50%;
    margin-top: -15px;
}

#mars-orbit {
    border: 2px solid #939393;
    -mozborder-radius: 50%;
    -webkitborder-radius: 50%;
    border-radius: 50%;
}

#jupiter-orbit {
    position: absolute;
    top: 25%; /* placement de l'orbite */
    left: 26%;

    width: 700px; /* taille cercle */
    height: 700px;

    margin-top: -140px;
    margin-left: -140px;
    border: 2px solid #939393;
}

#jupiter {
    position: absolute;
    margin-left: -75px;
    top: 50%;
    margin-top: -15px;
}

#jupiter-orbit {
    border: 2px solid #939393;
    -mozborder-radius: 50%;
    -webkitborder-radius: 50%;
    border-radius: 50%;
}

#saturn-orbit {
    position: absolute;
    top: 7%; /* placement de l'orbite */
    left: 10%;

    width: 950px; /* taille cercle */
    height: 950px;

    margin-top: -140px;
    margin-left: -140px;
    border: 2px solid #939393;
}

#saturn {
    position: absolute;
    margin-left: -105px;
    top: 50%;
    margin-top: -15px;
}

#saturn-orbit {
    border: 2px solid #939393;
    -mozborder-radius: 50%;
    -webkitborder-radius: 50%;
    border-radius: 50%;
}
#uranus-orbit {
    position: absolute;
    top: -3%; /* placement de l'orbite */
    left: 0%;
    width: 1100px; /* taille cercle */
    height: 1100px;
    margin-top: -140px;
    margin-left: -140px;
    border: 2px solid #939393;
}
#uranus {
    position: absolute;
    margin-left: -32px; /* placement sur l'orbite */
    top: 50%;
    margin-top: -15px;
}
#uranus-orbit {
    border: 2px solid #939393;
    -mozborder-radius: 50%;
    -webkitborder-radius: 50%;
    border-radius: 50%;
}
#neptune-orbit {
    position: absolute;
    top: -16%; /* placement de l'orbite */
    left: -14%;
    width: 1300px; /* taille cercle */
    height: 1300px;
    margin-top: -140px;
    margin-left: -140px;
    border: 2px solid #939393;
}
#neptune {
    position: absolute;
    margin-left: -34px; /* placement sur l'orbite */
    top: 50%;
    margin-top: -15px;
}
#neptune-orbit {
    border: 2px solid #939393;
    -mozborder-radius: 50%;
    -webkitborder-radius: 50%;
    border-radius: 50%;
}
#terre { /* Terre avec l'ISS */
    position: absolute;
    margin-left: 187%;
    margin-top: -34%;
    width: 350px;
    height: 350px
}
#iss-orbit {
    position: absolute;
    top: -32%; /* placement de l'orbite */
    left: 189%;
    width: 600px; /* taille cercle */
    height: 600px;
    margin-top: -140px;
    margin-left: -140px;
    border: 2px solid #939393;
}
#iss {
    position: absolute;
    margin-left: -80px; /* placement sur l'orbite */
    top: 50%;
    margin-top: -15px;
}
#iss-orbit {
    border: 2px solid #939393;
    -mozborder-radius: 50%;
    -webkitborder-radius: 50%;
    border-radius: 50%;
}


@-webkit-keyframes orbit {
    100%  {
        transform: rotate(360deg)
    }
}
@-moz-keyframes orbit {
    100%  {
        transform: rotate(360deg)
    }
}
@-o-keyframes orbit {
    100%  {
        transform: rotate(360deg)
    }
}
@keyframes orbit {
    100%  {
        transform: rotate(360deg)
    }
}

#earth {
   -webkit-animation: orbit 30s linear infinite;
   -moz-animation: orbit 30s linear infinite;
   -ms-animation: orbit 30s linear infinite;
   -o-animation: orbit 30s linear infinite;
   animation: orbit 30s linear infinite;
}
#earth-orbit {
   -webkit-animation: orbit 10s linear infinite;
   -moz-animation: orbit 10s linear infinite;
   -ms-animation: orbit 10s linear infinite;
   -o-animation: orbit 10s linear infinite;
   animation: orbit 10s linear infinite;
}
#moon-orbit {
   -webkit-animation: orbit 10s linear infinite;
   -moz-animation: orbit 10s linear infinite;
   -ms-animation: orbit 10s linear infinite;
   -o-animation: orbit 10s linear infinite;
   animation: orbit 10s linear infinite;
}
#mercury-orbit{
    -webkit-animation: orbit 4s linear infinite;
    -moz-animation: orbit 4s linear infinite;
    -ms-animation: orbit 4s linear infinite;
    -o-animation: orbit 4s linear infinite;
    animation: orbit 4s linear infinite;
}
#venus-orbit{
    -webkit-animation: orbit 6s linear infinite;
    -moz-animation: orbit 6s linear infinite;
    -ms-animation: orbit 6s linear infinite;
    -o-animation: orbit 6s linear infinite;
    animation: orbit 6s linear infinite;
}
#mars-orbit{
    -webkit-animation: orbit 12s linear infinite;
    -moz-animation: orbit 12s linear infinite;
    -ms-animation: orbit 12s linear infinite;
    -o-animation: orbit 12s linear infinite;
    animation: orbit 12s linear infinite;
}
#jupiter-orbit{
    -webkit-animation: orbit 18s linear infinite;
    -moz-animation: orbit 18s linear infinite;
    -ms-animation: orbit 18s linear infinite;
    -o-animation: orbit 18s linear infinite;
    animation: orbit 18s linear infinite;
}
#saturn-orbit{
    -webkit-animation: orbit 20s linear infinite;
    -moz-animation: orbit 20s linear infinite;
    -ms-animation: orbit 20s linear infinite;
    -o-animation: orbit 20s linear infinite;
    animation: orbit 20s linear infinite;
}
#uranus-orbit{
    -webkit-animation: orbit 24s linear infinite;
    -moz-animation: orbit 24s linear infinite;
    -ms-animation: orbit 24s linear infinite;
    -o-animation: orbit 24s linear infinite;
    animation: orbit 24s linear infinite;
}
#neptune-orbit{
    -webkit-animation: orbit 26s linear infinite;
    -moz-animation: orbit 26s linear infinite;
    -ms-animation: orbit 26s linear infinite;
    -o-animation: orbit 26s linear infinite;
    animation: orbit 26s linear infinite;
}
#iss-orbit{
    -webkit-animation: orbit 20s linear infinite;
    -moz-animation: orbit 20s linear infinite;
    -ms-animation: orbit 20s linear infinite;
    -o-animation: orbit 20s linear infinite;
    animation: orbit 20s linear infinite;
}
#terre {
    -webkit-animation: orbit 140s linear infinite;
    -moz-animation: orbit 140s linear infinite;
    -ms-animation: orbit 140s linear infinite;
    -o-animation: orbit 140s linear infinite;
    animation: orbit 140s linear infinite;
}
